body{
    background-color: cornflowerblue;
}
h1{
    text-align: center;
}
.large-pizza img{
    width: 80%;
}
.medium-pizza img{
    width: 50%;
}
.small-pizza img{
    width: 30%;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
.medium-pizza{
    background-color: orange;
}

.footer{
    border: 1px solid;
    padding: 1em;
    border-radius: 1em;
    margin: 10px;
}
.large-pizza{
    background-color: yellow;
}

.small-pizza{
    background-color: purple;
}


.footer{
    background-color: yellowgreen;
}
@media (min-width:960px) {
    .pizzas{
        display: flex;
    }
    
    .pizza{
        border: 1px solid;
        padding: 1em;
        border-radius: 1em;
        margin: 10px;
    }
}

.pizza{
    border: 1px solid;
    padding: 1em;
    border-radius: 1em;
    margin: 10px;
}







