body{
    background-color: cornflowerblue;
}
h1{
    text-align: center;
}

@media (min-width:768px) {
    .pizzas{
        display: flex;
    }
    h1{
        text-align: center;
        text-transform: uppercase;
    }
    .pizza{
        border: 1px solid;
        padding: 1em;
        border-radius: 1em;
        margin: 10px;
    }
    .medium-pizza{
        background-color: orange;
    }
    .medium-pizza img{
        width: 40%;
    }
    .footer{
        border: 1px solid;
        padding: 1em;
        border-radius: 1em;
        margin: 10px;
    }
    .large-pizza{
        background-color: yellow;
    }
    .large-pizza img{
        width: 80%;
    }
    .small-pizza{
        background-color: purple;
    }
    .small-pizza img{
        width: 30%;
    }

    .footer{
        background-color: yellowgreen;
    }
    
}








